.container {
    height: 80px;
    width: 100px;
    margin: auto;
}

#app {
    margin: auto;
    padding: 2px;
}

#button {
    size: 40px;
}

.btn-primary{
    margin-top: 10px;
}

.div {
    text-align: center;
    font-size: 40px;
    margin: auto;
}